<html x-ng-app="gameApp">
<head>
  <title>TicTacChuckNorris</title>
  <link rel="stylesheet" type="text/css" href="style.css">
<!--   <link rel="shortcut icon" href="tab.png"> -->
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
  <script src="tic_script.js"></script>
   <link href='http://fonts.googleapis.com/css?family=Shojumaru' rel='stylesheet' type='text/css'>
</head>
<body x-ng-controller="GameController">
<header>Tic Tac <span class="strikeout">Toe</span> Chuck Norris</header> <br />
    <div class="clear" x-ng-repeat="x in rows track by $index">
      <div class="board" x-ng-repeat="col in x track by $index"
         x-ng-click="playerTurn($parent.$index, $index)";">
<!-- ternary operator: condition(col == 1) then if value is true "O" else value if false "X"-->
        {{ ((col == 1)?"O" : (col == -1 ? "X" : "")) }}
      </div>
    </div>
  <div>
  <button onclick="clickFunction()">Click to Reset Game</button>
</div>

</body>
</html>

ngclass