<html x-ng-app="gameApp">
<head>
  <title>TicTacChuckNorris</title>
  <link rel="stylesheet" type="text/css" href="style.css">
<!--   <link rel="shortcut icon" href="tab.png"> -->
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
  <script src="tic_script.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Shojumaru' rel='stylesheet' type='text/css'>
</head>
<body x-ng-controller="GameController">
<header>Tic Tac <span class="strikeout">Toe</span> Chuck Norris</header>
<p>It's Chuck Norris vs. the world in the ultimate battle to the death<p>
<div class="wrapper">
  <div class="clear" x-ng-repeat="x in rows track by $index">
    <div class="board" x-ng-class="{chuck: col === 1, world: col === -1}" x-ng-repeat="col in x track by $index" x-ng-click="playerTurn($parent.$index, $index)">
    </div>
  </div>
</div>
<div>
  <button x-ng-click="reset()">Click to Reset Game</button>
</div>

</body>
</html>
