body {
  font-family: 'Shojumaru', cursive;
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  background: url("images/wallpaper.jpg");
  background-size: cover;
}

header {
  text-align: center;
  font-size: 50px;
  color: black;
  padding-top: 25px;
}
.strikeout {
  text-decoration: line-through;
}
p {
  text-align: center;
  font-size: 20px;
  padding-bottom: 5px;
}
.wrapper {
  width: 390px;
  height: 390px;
  margin: 0 auto;
}
.clear {
  clear: both;
}
.board {
  width: 120px;
  height: 120px;
  float: left;
  border: 5px solid black;
  color: white;
  font-size: 80px;
}
.board:hover {
  background-color: gray;
  opacity: .5;
}
.chuck {
  background: url("images/chuckpunch1.gif");
  background-size: cover;
}
.world {
  background: url("images/24-hour-geostationary-satellite-animation-loop-Earth.gif");
  background-size: cover;
}
.chuckwin {
  background: url("images/chuckwin.gif");
  background-size: cover;
}
.worldwin {
  background: url("images/worldwin.gif");
  background-size: cover;
}
.winner{
  background: none;
  background-color: red;
}
.newGame {
  height: 40px;
  width: 195px;
  margin: 0 auto;
  padding-top: 5px;
}
button {
  height: 40px;
  width: 195px;
  text-align: center;
  background-color: gray;
  font-size: 15px;
  border: 5px solid black;
}