body {
  font-family: 'Shojumaru', cursive;
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
/*  background-color: #6C7A71;*/
}

header {
  text-align: center;
  font-size: 50px;
  color: black;
  padding: 25px 0;
/*  background-color: #cccccc;*/
}
.strikeout {
  text-decoration: line-through;
}
.outer {
/*width: 50%;*/
}
.clear {
  clear: both;
}
.board {
  width: 100px;
  height: 100px;
  float: left;
  border: 5px solid #6C7A71;
  background-color: black;
  color: white;
  font-size: 80px;
  text-align: center;
}
.board:hover {
  opacity: .8;
}

button {
  height: 50px;
  width: 330px;
}
/*body {
  font-family: 'Shojumaru', cursive;
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  background-color: #6C7A71;
}



.joke {
  text-align: center;
}
div div {
  float: left;
  border: 3px solid #6C7A71;
  width: 120px;
  height:120px;
  background-color: #cccccc;
  font-size: 15pt;
}

  .row{
    clear: both;
}

